h1{
text-transform: uppercase;
letter-spacing: 2px;
font-size: 2rem;
color: rgb(34, 34, 134);
text-shadow: 5px 0 0 rgb(231, 12, 12);
text-align: center;
font-family: "playfair display" serif;
body{

@font-face {
    font-family: "font-1";
    background-attachment: url();
}
    
}

}