@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:wght@500&display=swap');

@font-face {
    font-family:"font-1" ;
    src: url(./assets/Courgette\,Playfair_Display.zip);
}


body{
    font-family: "font-1" serif;
    background: url(./assets/bg.jpg)no-repeat fixed center/cover;
    height: 100%;
}
.title {
    font-size: 2.5rem;
    color: rgb(0, 255, 21);
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "playfair display" serif;
    margin: 15px ;
}
main {
    background: white;
    width: 1300px ;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px ;
    padding: 2px;
    text-align: justify;
    font-size: 1.1rem;
    padding: 0px;
    border-radius: 15px ;
    box-shadow: none;
    
}
.position {
    border: 2px solid rgb(0, 255, 21) ;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}


#circle {
    height: 40px;
    width: 70px;
    background: rgb(0, 255, 21);
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -15px ;
    right: 10px ;
}

.titleText {
    
    border: 2px solid rgb(0, 255, 21) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 10px;
    margin: 10px;
    width: 600px;
    text-align: justify;
    border-radius: 10px;
    display:inline-block;
    color: rgb(245, 247, 247);
}

h3{
    border: 1.5px solid rgb(0, 255, 21);
    display: inline-block;
    width: 300px;
    margin: 50px;
    background: fixed white;
    padding: 10px;
    border-radius: 80%;
    text-align:center;
    text-decoration:aqua 
}
   

.photo2 {
    border: 2px solid rgb(0, 255, 21);
    text-align:justify;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 15px;
    color: rgb(255, 255, 255);
    margin: 10px;
    width: auto;
    
}